@using Microsoft.AspNet.Identity;
@model UserStories.Core.Models.StoryDetailModel

@{
    ViewBag.Title = "Details";
}

<h2>@Model.Title</h2>

<div>


    <div class="panel panel-primary">

        <div class="panel-heading">
            <h3 class="panel-title">@Model.Description</h3>
        </div>
        <div class="panel-body">

            @Model.Content

        </div>
        <div class="panel-footer">@Model.PostedOn</div>

    </div>

</div>
<p>
    @if (User.Identity.GetUserId() == Model.UserId)
    {
        <a href="@Url.Action("Edit", "Story", new { id = Model.Id })" class="btn btn-warning ">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
            Edit
        </a>

    }
    <a href="@Url.Action("Index", "Story", new { id = Model.Id })" class="btn btn-primary">
        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
        Back
    </a>
</p>
